@page "/locations"
@using Yggdrasil.Client.Pages.Components
@using Yggdrasil.Identity

<AuthorizeView Roles="@Roles.DungeonMaster">
    <Authorized>
        <div class="page section-grid containerbox">
            @if (Location != null)
            {
                <div class="location page-title">
                    @Location.Name
                    <div class="location-open"><IconButton Icon="castle" OnClick="@(() => OpenLocation(Location.ID))" /></div>
                </div>
            }
            <div class="page-options section-block">
                <div class="option add">
                    <Button OnClick="AddLocation">Add</Button>
                </div>
            </div>
            <div class="location-root section-block">
                <RootMap Ancestors="@Ancestors" AncestorSelected="MoveToAncestor"></RootMap>
            </div>
            <div class="locationlist section-block">
                <LocationsList @ref="LocationList" @bind-LocationID="@LocationID" @bind-Location="@Location"></LocationsList>
            </div>
        </div>

        <AddLocationDialog @ref="AddLocationDialog" />
    </Authorized>
    <NotAuthorized>
        <UnauthorizedView />
    </NotAuthorized>
</AuthorizeView>

<ExceptionDialog @ref="ExceptionDialog" />