@page "/"
@using Yggdrasil.Models
@using Yggdrasil.Identity

<AuthorizeView>
    <Authorized Context="user">
        <div class="page-campaignlist containerbox">
            <div class="page-title">Campaigns</div>
            <RadzenDataList class="campaignlist" Data="@Campaigns" TItem="CampaignOverview">
                <Template Context="campaign">
                    <RadzenCard class="campaign-card">
                        <div class="campaign-overview" @onclick="@(_ => ViewCampaign(campaign))">
                            <div class="campaign-name">@campaign.Name</div>
                            <div class="campaign-description">@campaign.ShortDescription</div>
                            <div class="campaign-dungeon-master">@campaign.DungeonMaster</div>
                        </div>
                    </RadzenCard>
                </Template>
            </RadzenDataList>
        </div>
    </Authorized>
    <NotAuthorized>
        <UnauthorizedView />
    </NotAuthorized>
</AuthorizeView>

