@page "/"
@using Fiction.Controls
@using Yggdrasil.Models
@using Yggdrasil.Identity
@using Yggdrasil.Client.Pages.Campaigns

<AuthorizeView>
    <Authorized Context="user">
        <div class="page-campaignlist containerbox">
            <div class="page-title">Campaigns</div>
            @if (!_loading)
            {
                <Listbox Class="campaignlist" Items="Campaigns" @bind-SelectedItem="@SelectedCampaign" OnItemDoubleClick="@(e => ViewCampaign(e))" TItem="CampaignOverview" Context="campaign">
                    <ItemTemplate>
                        <div class="campaign-info no-select">
                            <div class="campaign-name">@campaign.Name</div>
                            <div class="campaign-dm">@campaign.DungeonMaster</div>
                            <div class="campaign-description">@campaign.ShortDescription</div>
                        </div>
                    </ItemTemplate>
                </Listbox>
                <div class="page-options">
                    <AuthorizeView Roles="@Roles.ManageCampaigns">
                        <Authorized>
                            <Button OnClick="@(e => DeleteCampaign(SelectedCampaign))" IsEnabled="SelectedCampaign != null">Delete</Button>
                        </Authorized>
                    </AuthorizeView>
                    <Button OnClick="@(e => ViewCampaign(SelectedCampaign))" IsEnabled="SelectedCampaign != null">View</Button>
                    <AuthorizeView Roles="@Roles.CreateCampaign">
                        <Authorized>
                            <Button OnClick="CreateCampaign">Create</Button>
                        </Authorized>
                    </AuthorizeView>
                </div>
            }
            else  //  Show loading screen until campaigns are loaded
            {
                <Loading />
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <UnauthorizedView />
    </NotAuthorized>
</AuthorizeView>

<ExceptionDialog @ref="ExceptionDialog" />
<CampaignDetailsDialog @ref="CampaignDetailsDialog" />
<MessageBox @ref="MessageBox" />
